[user]
	email = {{ .email }}
	name = {{ .name }}
	
[core]
  editor = code --wait
  excludesfile = ~/.gitignore
  
[diff]
  tool = vscode
  
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
  
[merge]
  tool = vscode
  
[mergetool "vscode"]
  cmd = code --wait $MERGED
  
[color]
	ui = true
	
[pull]
	rebase = false

[help]
	autocorrect = prompt
	
[commit]
	gpgsign = false
	
[init]
	defaultBranch = main
